<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Faça o seu login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="./js/validation.js" defer></script> -->

    <!-- Custom fonts for this template-->
    <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <form class="login-form" action="/log" method="post">
        <!-- Logo -->
        <!-- Sidebar - Logo EPI -->
        <div class="container-icon">
            <div class="sidebar-brand-icon">
                <i class="far fa-eye"></i>
             </div>
            <div class="sidebar-brand-text">EPI Vision</div>
        </div>

        <!-- Campo do Usuário -->
        <div class="txtb">
            <input type="text" name="username" id="nome"  required>
            <span data-placeholder="Usuário"></span>
        </div>

        <!-- Campo de Senha -->
        <div class="txtb">
            <h3><i class="fas fa-eye" id="eye-show"></i></h3>
            <input type="password" name="password" id="senha" required>
            <span data-placeholder="Senha"></span>
            <h3><i class="far fa-eye-slash" id="eye-hidden" style="display: none;"></i></h3>
        </div>

        <!-- Botão para enviar formulário--> 
        <input type="submit" class="logbtn" value="Entrar">
        <% if (typeof msg === "undefined") { %>
            
        <% } else { %>
            <% if (typeof flag === "undefined") { %>
                <h4 style="color:red"><%= msg %></h4> 
                <% } else { %>
                    <h4 style="color:lightgreen"><%= msg %></h4> 
                    <% } %>
        <%  }   %>
    </form>




<script src="./js/form-effects.js"></script>
</body>
</html>