<!-- 

- Tela para o monitoramento com a câmera

-->

<!DOCTYPE html>
<html>


<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>EPI Vision</title>

<script>
  function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('idHora').innerHTML =
  h + ":" + m + ":" + s;
  var t = setTimeout(startTime, 1000);
  }


  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }


  function registrarAviso() {
  //alert("teste");
  }
</script>

<style>
  #webcam-camera {
    margin-left: 20px;
  }

  #comsemMask {
    color:white;
    font-size: 50px;
  }

  #idHora {
    color: white;
    font-size: 50px;
  }

  th {
    color:white;
    font-size: 20px;
  }

  td {
    color:white;
    font-size: 20px;
  }

  div {
  /*border: green;
  border-style: solid;*/
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1.3fr 2.2fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.2fr 0.2fr;
    gap: 10px 10px;
    grid-template-areas:
      "header-titulo header-titulo header-titulo"
      "tabela canvas-camera canvas-camera"
      "tabela canvas-camera canvas-camera"
      "camera-setup camera-setup camera-setup";
  }
  .header-titulo { grid-area: header-titulo; }
  .canvas-camera { grid-area: canvas-camera; }
  .camera-setup { grid-area: camera-setup; }
  .tabela { grid-area: tabela; }

</style>
<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>


<script type="text/javascript">
const URL = "https://teachablemachine.withgoogle.com/models/PI5WkIKYD/";

// meu antigo"https://teachablemachine.withgoogle.com/models/PI5WkIKYD/"
//https://teachablemachine.withgoogle.com/models/ZTFzIfo4P/

let model, webcam, labelContainer, maxPredictions, tempo;

let comMask = "com-mascara";

let semMask = "sem-mascara";
let executado = 0;

async function initw() {
const modelURL = URL + "model.json";
const metadataURL = URL + "metadata.json";

model = await tmImage.load(modelURL, metadataURL);
maxPredictions = model.getTotalClasses();

const flip = true;
webcam = new tmImage.Webcam(1152, 720, flip);
//const webelement = document.getElementById("webcamcam");
//webcam = new Webcam(webelement, 'user');

//webcam.start();

await webcam.setup();
await webcam.play();
window.requestAnimationFrame(loop);

document.getElementById("webcam-container").appendChild(webcam.canvas);

labelContainer = document.getElementById("label-container");
for (let i = 0; i < maxPredictions; i++) {
labelContainer.appendChild(document.createElement("div"));
}
}

async function loop() {
webcam.update(); 
await predict();
window.requestAnimationFrame(loop);
}

async function camStop() {
await webcam.stop();
var list =  document.getElementById("webcam-container");
list.removeChild(list.childNodes[0]);

}

async function registrarAviso() {
console.log("test");

$(document).ready(function() {
$("#encontrou").show();        
});
rejistrar();
setTimeout(function () {
$(document).ready(function() {
$("#encontrou").hide();        
                                              }); 
//$( "#result" ).load( "ajax/test.html" );
}, 3000);
}

function rejistrar (){
executado = 1;


}

function showDiv(){
$(document).ready(function() {
$("#encontrou").hide();        
});
}
async function predict() {

const prediction = await model.predict(webcam.canvas);


for (let i = 0; i < maxPredictions; i++) {
const classPrediction = prediction[i].className + ": " + prediction[i].probability.toFixed(2);

if(prediction[i].className == semMask && prediction[i].probability.toFixed(2) >= 0.80){
                                                   tempo = setTimeout(function(){
                                                                                                                                                                                   registrarAviso();
                                                                                                                                                                               }, 3000);
                                                   $(document).ready(function() {
                                                                                                                                                                                   $("#comsemMask").css("background-color","#a60013");
                                                                                                                                                                                   $('#comsemMask').text('Sem máscara');
                                                                                                                                                                               });
                                        </div>
                                                     
                                                     <script>showDiv()</script>
                                                                     </div> <!-- /.container-fluid -->
                                                                                 </div> <!-- content -->
                                                                                         </div> <!-- content-wrapper -->
                                                                                             </div> <!-- wrapper -->

                                                                                                 <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


                                                                                                 </body>
</html>
